input.form-control{
    margin-bottom: 15px;
}

body{
    /*this is the space inside the body box model*/
    padding-top: 54px;
    font-size: 12px;
}

p.navbar-text.pull-right{
    /*this pull-right is where we put the "+" mark on the right top of the page for the class p*/
    margin-right: 15px;
}

p.navbar-text.pull-left{
    margin-left: 15px;
}